<div class="title-map">
    <h1>Angular Google Maps - Prime Example</h1>
</div>
<agm-map
[latitude]="latitude" 
[longitude]="longitude"
[zoom]="zoom"> 

    <agm-polygon *ngFor="let d of data"
    id="#polygon" 
    [paths]="d.location" 
    [fillColor]="d.configuration[0].polyColor" 
    [strokeColor]="d.configuration[0].strPolyColor"
    (polyMouseOver)="polyMouseOver($event)">
    
    </agm-polygon>

    <agm-marker 
    *ngFor="let m of markers;"
    [latitude]="m.markerlatitude"
    [longitude]="m.markerlongitude">
          
    <agm-info-window>
        <strong>ID del marcador: {{ m.id }} </strong>
        <br>
        <span class="delete-marker">Eliminar</span>
      </agm-info-window>
    </agm-marker>

    

</agm-map>