agm-map{
    height: 90vh
}
.title-map{
    font-size: 0.8em;
    text-align: center;
}

.delete-marker{
    color: rgb(42, 42, 190);
}

.delete-marker:hover{
    color: rgb(45, 45, 107); 
    text-decoration: underline;
    cursor: pointer;
}